extends layout

block content
  h1= title
  p Welcome to #{title}
  p Server Date #{date}
  a(href="./etag") etag page
  br
  ul
    li
      a(href="./csp-navigate-to") csp-navigate-to-page
    li
      a(href="./csp-script-src-strict-dynamic") csp-script-src-strict-dynamic-page
    li
      a(href="./csp-script-src-elem") csp-script-src-elem-page
    li
      a(href="./csp-script-src-attr") csp-script-src-attr-page
    li
      a(href="./csp") csp-test page
